<div>
	<p>Add New Order</p>
	<form ng-submit="create()">
		Customer: <select ng-model="order.customer" ng-options="customer._id as customer.customerName for customer in customers">
		</select>
		Product: <select ng-model="order.product" ng-options="product._id as product.name for product in products">
		</select>
		Quantity: <input type="text" name="quantity" ng-model="order.quantity">
		<input type="submit" name="submit" value="New Order">
	</form>
</div>
<div>
	<table>
		<thead>
			<tr>
				<th>Customer Name</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Created</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="order in orders">
				<td ng-bind="order.customer.customerName"></td>
				<td ng-bind="order.product.name"></td>
				<td ng-bind="order.quantity"></td>
				<td ng-bind="order.createdAt | date: MM/dd/yyyy"></td>
			</tr>
		</tbody>
	</table>
</div>